.event-toggle-container {
  padding: 20px;
  background-color: #101720;
  border-radius: 0px;
  color: #ffffff;
  max-width: 100%;
  margin: 0 auto;
}

.toggle-button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.toggle-button-container button {
  margin: 0 10px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #101720;
  color: #5aefe7;
  border: 2px solid #5aefe7;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  align-items: center;
  justify-content: center;
}

.toggle-button-container button.active {
  background-color: #5aefe7;
  color: #101720;
}

.events-list {
  margin-top: 20px;
}

.event-card {
  background-color: #5aefe7;
  color: #101720;
  width: 95%;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 15px;
  margin-right: 1rem;
  box-shadow: 0 4px 8px 0 rgba(90, 239, 231, 0.2),
    0 6px 20px 0 rgba(90, 239, 231, 0.19);
  transition: transform 0.2s, box-shadow 0.2s;
}

.event-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px 0 rgba(90, 239, 231, 0.2),
    0 12px 40px 0 rgba(90, 239, 231, 0.19);
}

.event-card-content {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
}

.event-info {
  flex: 1;
}

.event-buttons {
  display: flex;
  justify-content: space-between;
}

.event-image {
  margin-left: 20px;
}

.event-image img {
  width: 150px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(90, 239, 231, 0.2),
    0 6px 20px 0 rgba(90, 239, 231, 0.19);
}


.read-more-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #101720;
  color: #5aefe7;
  border: 2px solid #5aefe7;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
  /* margin-right: 10px; */
}
.register-button {
  display: inline-block;
  padding: 13px 20px;
  background-color: #101720;
  color: #5aefe7;
  border: 2px solid #5aefe7;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
  font-size: 1.4rem;
  /* margin-right: 10px; */
}

.register-button:hover,
.read-more-button:hover {
  background-color: #5aefe7;
  color: #101720;
}


/* Carousel Styles */
.carousel-item {
  text-align: center;
  color: #101720;
  background-color: #5aefe7;
  border-radius: 8px;
  padding: 1rem;
  padding-bottom: 2rem;
  height: 95vh;
}

.carousel-image {
  width: auto;
  max-width: 75vw;
  height: auto;
  max-height: 65vh;
  border-radius: 8px;
  /* margin: 0 0; */
  display: block;
}

.carousel-caption {
  margin-top: 10px;
  font-size: 0.9rem;
}

.carousel .control-arrow,
.carousel.carousel-slider .control-arrow {
  background: #2e3032;
  /* background: ; */
  opacity: 5%;
  width:3rem ;
}

.carousel .carousel-status {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  font-size: 10px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
  color: #fff;
  opacity: 0;
}

.carousel .control-arrow:hover {
  opacity: 100%;
  background: linear-gradient(to right,
  rgba(255, 255, 255, 0.8),
  rgba(255, 255, 255, 0.2)), 
}

.carousel .control-arrow {
  position: absolute;
  top: 50%;
  /* transform: translateY(-50%); */
  z-index: 2;
}

.carousel .control-prev.control-arrow {
  left: 0px;
}

.carousel .control-next.control-arrow {
  right: 0px;
  margin: 0px;
}

.carousel .slide {
  background: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(90, 239, 231, 0.2),0 6px 20px 0 rgba(90, 239, 231, 0.19);
  transition: none; /* No hover effect */
}


@media only screen and (max-width: 768px) {
  .event-card-content {
    flex-direction: column;
  }

  .event-image {
    margin-left: 0;
    margin-top: 20px;
  }

  .carousel-caption {
    font-size: 14px;
  }

  .carousel-item {
    max-height: 500px;
    text-align: center;
    color: #101720;
    background-color: #5aefe7;
    border-radius: 8px;
    padding: 1rem;
  }
}