/* MainPage.css */

.main-page-container {
    font-family: 'Arial', sans-serif;
    background-color: #101720;
    max-width: 100%;
  }
  
  main {
    max-width: 1200px;
    margin: 0 auto;
    color: #fcfcfc;
  }
  
  .hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60vh;
    background-size:100%; /* Adjust the height as needed */
    background-image: url('/src/static/imgs/cyberbg.jpg');
    background-size: cover;
    background-position: center;
    padding: 80px 20px;
  }
  
  .hero-content {
    flex: 1;
  }
  
  .hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .hero-content p {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  
  .join-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
  }
  
  .join-button:hover {
    background-color: #0056b3;
  }
  
  .hero-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    padding-right: 3rem;
    margin-right: 3rem;
  }
  
  .about-section {
    display: flex;
    padding: 50px 20px;
  }
  
  .about-section img{
    margin-right: 4rem;
    padding: 50px 20px;
  }
  





  .about-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .about-section p {
    font-size: 1.1rem;
  }
  
  /* Add more styling for additional sections as needed */
  