.carousel-container {
  width: 80%;
  margin: auto;
  /* background-color: #1e1e1e;  */
  padding: 1rem;
  border-radius: 10px; /* Rounded corners */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  */
  /* overflow: hidden;  */
  /* padding: 20px 0; Add padding for the heading */
  /* align-items: center;
  justify-content: center; */
}

.carousel-heading {
  color: #5aefe7;
  text-align: center;
  margin-bottom: 20px;
  font-size: 2em;
}

.carousel-slide {
  position: relative;
  border-radius: 4%;

}

.carousel-slide img {
  width: 100%;
  height: auto;
  /* object-fit: cover; */
  filter: brightness(0.7); /* Darken the image */
  transition: filter 0.3s ease; /* Smooth transition on hover */
  border-radius: 10px;
}

.carousel-slide:hover img {
  filter: brightness(1); /* Brighten the image on hover */
  border-radius: 10px;
}

.slide-content {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  width: 50%;
  /* background: rgba(0, 0, 0, 0.5);  */
  padding: 20px;
  padding-bottom: 3rem;
  border-radius: 10px;
  /* backdrop-filter: blur(10px);  */
  transition: background 0.3s ease, backdrop-filter 0.3s ease;
}

.carousel-slide:hover .slide-content {
  /* background: rgba(0, 0, 0, 0.7); Darker background on hover */
  /* backdrop-filter: blur(15px); */
}

.slide-content h2 {
  font-size: 28px;
  margin-bottom: 10px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5); /* Stronger shadow */
}

.slide-content p {
  font-size: 18px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5); /* Stronger shadow */
}

.slick-dots {
  bottom: 20px;
}

.slick-dots li button {
  font-size: 12px;
  color: #bbb;
  padding: 5px;
}

.slick-dots li.slick-active button {
  color: #3498db;
}

/* Responsive Design */
@media (max-width: 768px) {
  .carousel-container {
    width: 90%;
    margin: auto;
    padding: 16px;
    /* background-color: #1e1e1e; Dark background */
    border-radius: 10px; /* Rounded corners */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); Subtle shadow */
    overflow: hidden;
    /* padding-bottom: 40% ; */
  }


  .slide-content {
      top: 50%;
      max-width: 40%;
      height: auto;
      font-size: 8px;
      /* background: rgba(0, 0, 0, 0); Semi-transparent background */
      /* backdrop-filter: blur(2px); */

  }

  .slide-content h2 {
      font-size: 14px;
  }

  .slide-content p {
      font-size: 11px;
  }

  .carousel-heading {
      font-size: 1em;
  }
}
