/* TeamCard.css */

.team-card {
  width: 100%;
  max-width: 300px;
  height: 20em;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 16px;
  padding: 16px;
  text-align: center;
  overflow: hidden; /* Ensure the description is initially hidden */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.back{
  background-color: #101720;
}

.team-card:hover {
  height: fit-content;
  transition: transform 0.3s ease-in-out, opacity 0.5s ease-in-out;
  transform: scale(1.1);
  box-shadow: 0 4px 8px #5aefe7;
}

.team-card-image {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 4%;
}

.team-card-content {
  margin-top: 16px;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease-in-out;
}

.team-card:hover .team-card-content {
  opacity: 1; /* Show on hover */
}

.team-card-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.team-card-role {
  color: #777;
  margin-top: 8px;
}

.team-card-description {
  margin-top: 8px;
  color: #555;
}
