/* TeamCard.css */

.team-card {
  width: 100%;
  max-width: 18vw;
  height: 30rem; /* Initial height for minimal information */
  max-height: 45vh;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 16px;
  padding: 16px;
  text-align: center;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out,
    height 0.3s ease-in-out;
}

.team-card-image-container {
  width: 100%;
  height: 75%;
  overflow: hidden;
  max-height: 75%;
}

.back {
  background-color: #101720;
}

.team-card:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px #5aefe7;
  height: 23em;
}

.team-card:hover .team-card-image-container {
  max-height: 0px;
  transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
}

.team-card-image {
  width: 100%;
  max-height: 100%; /* Smaller initial image height */
  object-fit: cover;
  border-radius: 4%;
}

.team-card-content {
  margin-top: 8px;
  opacity: 1; /* Initially hidden */
  max-height: auto; /* Collapse content initially */
  transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
}

.team-card:hover .team-card-content {
  /* opacity: 1;  */
  /* max-height: 200px; */
}

.team-card-name {
  font-size: 1vw; /* Smaller initial font size */
  font-weight: bold;
  color: #ddd;
  transition: font-size 0.3s ease-in-out; /* Smooth transition for font size */
}

.team-card:hover .team-card-name {
  font-size: 1.1vw; /* Expanded font size */
}

.team-card-role {
  color: #ddd;
  transition: margin-top 0.3s ease-in-out; /* Smooth transition for margin */
  padding-bottom: 1rem;
  font-size: 1vw;
}

.team-card:hover .team-card-role {
  margin-top: 4px; /* Expanded margin */
  font-size: 1.1vw;
}

.team-card-description {
  margin-top: 4px; /* Smaller initial margin */
  color: #ddd;
  transition: margin-top 0.3s ease-in-out; /* Smooth transition for margin */
}

.team-card:hover .team-card-description {
  margin-top: 8px; /* Expanded margin */
  padding-bottom: 16px;
  font-size: 0.8vw;
}

.team-card-social {
  display: flex;
  justify-content: center;
  margin-top: 0px;
}

.team-card-social a {
  margin: 0 8px;
  color: #ddd;
  font-size: 1.2em;
  transition: color 0.3s;
}

.team-card-social a:hover {
  color: #000;
}

@media only screen and (max-width: 768px) {
  .team-card {
    width: 100%;
    max-width: 20rem;
    height: 30rem; /* Initial height for minimal information */
    max-height: 25rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 16px;
    padding: 16px;
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out,
      height 0.3s ease-in-out;
  }
  .team-card-name {
    font-size: 18px; /* Smaller initial font size */
    font-weight: bold;
    color: #ddd;
    transition: font-size 0.3s ease-in-out; /* Smooth transition for font size */
  }
  .team-card:hover .team-card-name {
    font-size: 18px; /* Expanded font size */
  }
  .team-card-role {
    color: #ddd;
    transition: margin-top 0.3s ease-in-out; /* Smooth transition for margin */
    padding-bottom: 1rem;
    font-size: 14px;
  }
  .team-card:hover .team-card-role {
    margin-top: 4px; /* Expanded margin */
    font-size: 14px;
  }

  .team-card-description {
    margin-top: 4px; /* Smaller initial margin */
    color: #ddd;
    transition: margin-top 0.3s ease-in-out; /* Smooth transition for margin */
  }

  .team-card:hover .team-card-description {
    margin-top: 8px; /* Expanded margin */
    padding-bottom: 16px;
    font-size: 0.9vw;
    font-size: 12px;
  }
}
